# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  update_grammar:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Download ANTLR 4.9.2
        working-directory: /tmp
        run: |
          wget https://www.antlr.org/download/antlr-4.9.2-complete.jar
      - name: Generate grammar
        working-directory: kin/grammar
        run: |
          java -jar /tmp/antlr-4.9.2-complete.jar PBXProj.g4 -Dlanguage=Python3
      - name: Upload grammar
        uses: actions/upload-artifact@master
        with:
          name: grammar
          path: kin/grammar

  build:
    needs: update_grammar

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7]

    steps:
    - uses: actions/checkout@v2
    - name: Download grammar
      uses: actions/download-artifact@master
      with:
        name: grammar
        path: kin/grammar
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        pip install .
    - name: Test
      run: |
        ./tests/tester.py
